body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.6;
	font-family: Arial, sans-serif;
}

.wrapper {
	width: 80vw;
	min-height: 80vh;
	background-color: grey;
	margin: 5%;
	position: relative;
}

.wrapper-img {
	background-image: url("demonAngel.jpg");
	height: 80vh;
	background-size: cover;
	background-position: center;
	display: block;
	margin: auto;
}

.text {
	font-size: 1em;
	line-height: 1.2;
	font-family: Arial, sans-serif;
	position: absolute;
	width: 25%;
	top: 50%;
	text-align: center;
	

}

.text.left {
	color: white;
	left: 5%;
}

.text.right {
	color: black;
	right: 5%;
}


















